*, *::before, *::after {
    margin: 0;
    padding: 0;
    /*border: 1px solid black;*/
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
    scroll-behavior: smooth;
}
body {
    width: 100%; 
    background-color: white;
    font-family: 'Montserrat', Georgia;
    font-size: 1.8rem;
    overflow: contain;
}

#navbar {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#logo {
    text-decoration: underline;
    padding: 3.2em 3.6em 3.2em 3.6em;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    padding: 3.2em 3.6em; 
}

.nav-item:last-of-type {
    margin-right: none;
}

.nav-item {
    margin-right: 2em;
}

a {
    text-decoration: none;
    color: black;
}

.nav-item a:hover {
    color: rgb(146, 36, 255);
}

section {
    padding: 3.2em 3.6em 3.2em 3.6em;
}

#welcome-section {
    background: linear-gradient(45deg, rgb(124, 52, 172) 0%, rgb(122, 85, 171) 25%, rgba(255,225,255,1) 100%);
    background-size: 200%;
    height: 88vh;
    animation: gradientmovement 15s ease-in-out infinite alternate;
}

@keyframes gradientmovement {
    0% {
       background-position: right;
    }

    100% {
        background-position: left;
    }
}

#welcome-section div{
    padding-block: 3vh;
    text-align: center;
    position: absolute;
    top: 50%; 
    left: 10%; 
    right : 10%;
}

#welcome-section div h1 {
    font-size: 3.6rem;
}

#rgv-emphasis {
    color: rgb(237, 228, 228);
    font-weight: 600;
}

#welcome-section div p {
    margin-block: 0.8em; 
    font-style: italic;
    animation: slide-up 2s ease-out;
}

#projects h1{
    margin-block: 3.6em;
    text-align: center;
    text-decoration: underline;
}

.grid-container {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.2em;
    width: 100%; 
}

.project-link {
    background-color: pink;
    cursor: pointer;
    width: 100%;
    height: fit-content;
}
.project-card-container {
    display: block;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
    width: 300px;
    height: 30vh;
    margin: 1.6em auto 1.6em auto;
    border-radius: 5px;
    background-color: lightblue;
    overflow: none;
}

.project-image {
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: contain;
    border-radius: 5px;
}

.project-title{
    width: 100%;
    height: 30%;
    background: linear-gradient(transparent, black 60%);
    opacity: 0.7;
    position: absolute;
    bottom: -6%;
    border-radius: 5px;
    color: white;
}

.project-title h2 {
    font-size: 1.8rem;
    text-align: center;
    opacity: 1;
    margin: 2em auto 1.5em auto;
}


.section-heading {
    font-size: 3.6rem;
    text-align: center;
}

#social-media-list {
    margin: 3.6em auto;
    width: 30%; 
    list-style-type: none;
    display: flex; 
    justify-content: center;
    align-items: center; 
    flex-wrap: nowrap;
    gap: 1.6em;
}

#contact-wrapper {
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
}
.fa-brands {
    color: black;
    font-size: 3.2rem;
}

#end-illustration {
    display: block; 
    margin: auto;
    padding: 0;
    width: 70%;
    max-width: 800px; 
    height: auto;
}

footer {
    height: 22vh;
    width: 100%;
    position: relative;
}

footer p {
    font-size: 1.6rem;
    position: absolute;
    bottom: 3.6em;
    right: 3.2em;
}

@keyframes slide-up {
    0% {
        opacity: 0.2;
        line-height: 900px;
    }

    100% {
        opacity: 1;
        line-height: 25px; 
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1148px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #welcome-section {
        height: 92vh;
    }
}

@media screen and (max-width: 819px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .project-card-container {
        width: 250px;
    }

    #logo {
        font-size: 1.8rem;
        padding: 1.6em 1.8em;
    }

    section {
        padding: 1.6em 1.8em 1.6em 1.8em;
    }

    #navbar ul {
        font-size: 1.6rem;
        justify-content: flex-end;
        padding: 1.6em 1.8em;
    }

    .nav-item {
        margin-right: 1em;
    }

    #welcome-section {
        height: 94vh;
    }

    #welcome-section div{
        padding-block: 2vh;
        top: 45%; 
    }

    #welcome-section div h1 {
        font-size: 2rem;
    }

    #welcome-section div p {
        font-size: 1.6rem;
    }

    #projects h1, .section-heading{
        font-size: 2rem;
        margin-block: 1.8em;
    }

    .fa-brands {
        font-size: 2rem; 
    }
    
}